---
- name: Install QEMU
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
    update_cache: true
  become: true
  notify:
    - Start QEMU

- name: Install QEMU
  ansible.builtin.include_tasks: 
    reboot.yml
